.wrapper {
  margin: 0 3rem; }

.padding {
  padding: 0.5rem 0.5rem; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.selected {
  background-color: #404E5C; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 1.7;
  color: #555555;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #555555;
  margin: 5px; }

a {
  color: #1F8CD6;
  text-decoration: none; }
  a:hover {
    color: #175E91; }

pre {
  background: #F0F0F0;
  margin: 1rem 0;
  border-radius: 2px; }

blockquote {
  border-left: 10px solid #eee;
  margin: 0;
  padding: 0 2rem; }

#top {
  padding: 0;
  margin: 0; }

#site-wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto; }

#body {
  margin: 65px 3em 0px 3em; }
  @media only screen and (max-width: 530px) {
    #body {
      margin: 75px 0 0 0; } }

.header {
  background-color: white;
  color: #555555;
  border-bottom: 1px solid #404E5C;
  height: 75px;
  line-height: 75px;
  position: fixed;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 1000; }
  .header .padding {
    padding: 1em 0; }
  .header a {
    color: #555555; }
  .header .logo {
    font-size: 1.7em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 75px;
    transition: all 0.2s ease-in-out;
    z-index: 5; }
    .header .logo:hover i {
      background-color: #6a8198; }
    @media only screen and (max-width: 640px) {
      .header .logo {
        font-size: 1.3em; } }
    .header .logo i {
      padding: 10px;
      background-color: #404E5C;
      color: white;
      border-radius: 50%;
      margin-right: 5px;
      transition: background-color 0.2s ease-in-out; }

.main-nav {
  float: right; }
  .main-nav #nav-container {
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .main-nav #nav-container {
        position: absolute;
        max-height: 0px;
        overflow: hidden;
        left: 0;
        top: 70px;
        width: 100%;
        color: white;
        background-color: #6a8198;
        text-align: center;
        transition: max-height 0.2s ease-in-out; } }
    .main-nav #nav-container.active {
      padding-bottom: 25px;
      max-height: calc(55px * 4); }
    .main-nav #nav-container li {
      display: inline-block;
      letter-spacing: normal;
      height: 100%;
      width: auto;
      transition: all 0.2s ease-in-out;
      position: relative; }
      @media only screen and (max-width: 640px) {
        .main-nav #nav-container li {
          display: block; }
          .main-nav #nav-container li a {
            color: white; } }
      .main-nav #nav-container li a {
        position: relative;
        line-height: 45px;
        padding: 0 20px;
        white-space: nowrap;
        transition: color 0.2s ease-in-out; }
      .main-nav #nav-container li:hover {
        background-color: #6a8198; }
        .main-nav #nav-container li:hover a {
          color: white; }
        @media only screen and (max-width: 640px) {
          .main-nav #nav-container li:hover {
            background-color: #6a8198; }
            .main-nav #nav-container li:hover:hover {
              background-color: #55687a; } }
      .main-nav #nav-container li.selected {
        background-color: #404E5C; }
        .main-nav #nav-container li.selected a {
          color: white; }
  .main-nav #nav-toggle {
    display: none;
    line-height: 75px;
    cursor: pointer; }
    @media only screen and (max-width: 640px) {
      .main-nav #nav-toggle {
        display: block; } }
  @media only screen and (max-width: 640px) {
    .main-nav {
      margin-bottom: 5px; } }

.social-links {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2rem 0;
  margin: 10px; }

.social {
  color: black;
  margin: 0.5rem;
  text-decoration: none;
  line-height: 2rem;
  transition: all 0.2s ease-in-out; }
  .social:hover {
    transform: scale(1.2); }

.twitter {
  color: #00aced; }

.linkedin {
  color: #007bb6; }

.vimeo {
  color: #1ab7ea; }

.dribbble {
  color: #ea4c89; }

.reference-link {
  color: #555555;
  background-color: white;
  font-weight: 700;
  transition: color 0.2s ease-in-out; }
  .reference-link:hover {
    color: #B37DDB; }

.grav-icon {
  color: #555555;
  transition: color 0.2s ease-in-out; }
  .grav-icon:hover {
    color: #B37DDB; }

/* Project Meta Data */
.project-meta-container {
  width: 200px; }
  @media only screen and (max-width: 740px) {
    .project-meta-container {
      clear: both;
      width: 100%;
      text-align: center;
      margin: 1em 0; } }
  .project-meta-container .meta-individual p {
    display: inline-block;
    margin: 4px 8px; }
  .project-meta-container .meta-individual .download-link {
    text-align: center; }
    .project-meta-container .meta-individual .download-link .download-button {
      margin-top: 10px;
      background-color: #D0AFDB;
      color: white;
      padding: 10px;
      transition: all 0.2s ease-in-out; }
      .project-meta-container .meta-individual .download-link .download-button:hover {
        background-color: #B37DDB; }
      .project-meta-container .meta-individual .download-link .download-button span {
        font-weight: 700; }

/* Project Content */
.project-content-image {
  display: inline-block; }
  @media only screen and (max-width: 740px) {
    .project-content-image {
      display: block;
      width: 100%; } }
  .project-content-image p > img {
    width: 100%; }
  .project-content-image .content {
    float: left;
    width: 70%; }
    @media only screen and (max-width: 815px) {
      .project-content-image .content {
        width: 60%; } }
    @media only screen and (max-width: 740px) {
      .project-content-image .content {
        clear: both;
        width: 100%; } }
  .project-content-image .project-meta-container {
    width: 100%; }
    .project-content-image .project-meta-container .meta-individual {
      display: inline-block; }
      @media only screen and (max-width: 640px) {
        .project-content-image .project-meta-container .meta-individual {
          display: block; } }

.project-content-video {
  display: block; }
  .project-content-video .grav-vimeo {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 25px;
    padding-bottom: 50%;
    margin-bottom: 10px;
    max-width: 1920px;
    max-height: 1080px; }
    .project-content-video .grav-vimeo iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .project-content-video .content {
    float: left;
    width: 70%; }
    @media only screen and (max-width: 815px) {
      .project-content-video .content {
        width: 60%; } }
    @media only screen and (max-width: 740px) {
      .project-content-video .content {
        clear: both;
        width: 100%; } }
  .project-content-video .project-meta-container {
    float: right; }

/* Projects Like This */
.projects-like-this {
  clear: both;
  display: block;
  width: 90%;
  margin: 20px auto 20px auto;
  text-align: center; }
  @media only screen and (max-width: 655px) {
    .projects-like-this {
      width: 100%;
      margin: 20px auto 5px auto; } }
  .projects-like-this .similar-project-container {
    display: inline-block;
    margin: 10px; }
    @media only screen and (max-width: 650px) {
      .projects-like-this .similar-project-container {
        display: block;
        margin: 5px auto; } }
    .projects-like-this .similar-project-container img {
      width: 150px;
      height: 150px; }
    .projects-like-this .similar-project-container p {
      margin: 5px; }

.about-container {
  width: 100%;
  box-sizing: border-box; }
  .about-container .about-content {
    width: 59%;
    display: inline-block;
    margin: 5px; }
    @media only screen and (max-width: 800px) {
      .about-container .about-content {
        width: 100%;
        display: block; } }
  .about-container .about-sidebar {
    width: 35%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top; }
    @media only screen and (max-width: 800px) {
      .about-container .about-sidebar {
        display: block;
        width: 100%;
        text-align: center;
        margin-left: 0; } }
    .about-container .about-sidebar .recent-blog-posts {
      width: 100%;
      text-align: left;
      margin: 5px auto; }

/*# sourceMappingURL=main.css.map */
