/* Project Navigation */

.project-nav {
  z-index: 1;
  border-bottom: 1px solid rgba(96, 109, 110, 0.5);
  margin: 0 auto;
  width: 100%;
  @media only screen and (max-width: 530px) {
    width: 100%;
  }
  ul {
    padding: 0;
  }
  .project-tag {
    list-style: none;
    display: inline-block;
    padding: 0.5em;;
    transition: all 0.2s ease-in-out;
    @media only screen and (max-width: 530px) {
      display: block;
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      background-color: $ian-green;
      color: white;
    }
    &.selected {
      color: white;
    }
  }
}

/* Project Grid */

.project-wrapper {
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-grow: right;
  flex-wrap: wrap;
  flex-direction: row;
  transition: width 0.2s ease-in-out;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
  @media only screen and (max-width: 640px) {
    align-content: center;
    
  }
  .project-single-container {
    display: none;
		position: relative;
		margin: 10px;
		width: 150px;
		height: 150px;
		transition: all 0.2s ease-in-out;
    &.show {
      display: inline-block;
      @media only screen and (max-width: 640px) {
        margin: 5px auto;
      }
    }
		.project-overlay {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: center;
			line-height: 150px;
			background-color: $ian-green;
			opacity: 0;
			transition: all 0.2s ease-in-out;
			z-index: 4;
			&:hover {
				opacity: 0.9;
			}
			.project-name {
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
				color: white;
				font-size: 1.2em;
			}
		}
		.project-picture {
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}
}