{% embed 'partials/base.html.twig' %}

  
  {% block content %}
  <div class="project-content-image">
    <h2>{{ page.title }}</h2>
    {{ dump(page) }}
    {{ page.content }}
    <div class="project-meta-container">
      {% embed 'partials/project-meta-data.html.twig' %}
      {% endembed %}
      {% if page.header.taxonomy.link != null %}
        <section class="meta-individual">
          {% set projectLink = page.header.taxonomy.link|join('')  %}
          <a href="{{ projectLink }}" class="download-link">
            <div class="download-button">
              <span>View Project</span>
            </div>
          </a>
        </section>
      {% endif %}
    </div>
  </div>

  {% embed 'partials/projects-like-this.html.twig' with {'project': page.parent} %}
  {% endembed %}

  {% endblock %}

{% endembed %}