.wrapper {
  margin: 0 3rem;
}

.padding {
  padding: 0.5rem 0.5rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.selected {
  background-color: $ian-green;
}